/* Color de fondo --> #2e2e2a
    Color de hover --> #f9a91a */
body {
    font-family: sans-serif;
} 
nav {
    /* outline: 1px solid yellow; */
}
ul {
    /* outline: 1px solid red; */
    background-color: #2e2e2a;
    list-style: none;
    line-height: 40px;
    margin: 0;
    padding: 0;
}
li {
    /* outline: 1px solid blue; */
    display: inline-block;  
    text-align: center;
    width: 100px;
}
a {
    /* outline: 1px solid green; */
    color: #fff;
    display: block;
    text-decoration: none;
}
a:hover {
    background: #f9a91a;
    color: #000;
}